<h2>About BioArtBot</h2>


<p>BioArtBot is a project for learning synthetic biology through creative expression. With just a computer and an internet connection, anyone can use the tools of robotics
    and genetic engineering to grow their own art. Launched in 2019 at <a href="https://www.counterculturelabs.org">Counter Culture Labs</a> in Oakland, and further developed at
    <a href="https://www.learningplanetinstitute.org">Learning Planet Institute</a> in Paris, BioArtBot has bio-printed over 200 pieces of art from artists all around the world.
</p>

<h4>How it works</h4>

<p>We use a liquid handling robot, which is a special kind of robot built for lab sciences, to "print" your drawing with microbes onto a petri dish.
    Our robot carefully places a few cells at each location you specify, then over a few days these cells multiply until each "pixel" is actually a microbial colony.
    The microbes we use are human-safe strains of E. coli that have been genetically modified so that they produce bright colors when they grow.
    We get different colors by choosing cells with different genetic modifications.</p>

<h4>What happens when you submit a drawing</h4>

<p>Once we've received a batch of drawings, we use software we wrote to translate your drawings into robot instructions, and one of the volunteer BioArtBot team members loads them onto our robot.
    Then we prep the microbes and set the robot working. Once all of the microbes have been placed just so, we cover the plates and let them grow in an incubator at 30°C for two days.
    Finally, we take a picture of the living art and send it back to you. You can read more about this process in our <a href="https://blog.bioartbot.org/howto">How To guide</a>.</p>

<h4>But why though?</h4>

<p>Because it's cool! The living world around us does the most amazing things, and studying (and playing with) microbes is great way to get started learning about it.
    With the Internet and robotics, more people than ever can explore these concepts. We want to give people that chance, in a fun, playful, and maybe even expressive way.
</p>

<h4>Who we are</h4>

<p>
    BioArtBot was originally created by <a href="http://tim.dobbs.world">Tim Dobbs</a>, an engineer in the biotech industry, as a way apply the techniques of industrial biotechnology in a way
    that felt personal and playful. Since then, the project has grown to include numerous collaborators around the world, helping teach biology, print art, and write code. Currently, there are
    two sites where art is printed - in California and France - entirely by volunteers.
</p>

<h4>Getting involved</h4>
<p>
    If you would like to learn how to print art and join our network of bio-printers, check out our <a href="https://blog.bioartbot.org/howto">How To page</a>, then email us at
    <a href="mailto:contact@bioartbot.org">contact@bioartbot.org</a>. We'd love to have you!
</p>
<p>
    BioArtBot is not limited to those with liquid handling robots: we run <a href="https://youtu.be/uDj6NXU2pvo">workshops both in-person and remotely</a>. Let us know if you have a community that
    you would like to coordinate a workshop for. We love to work with anyone who wants to learn, and can work with you to design a workshop that fits your needs.
</p>
<p>
    Finally, BioArtBot is open-source and accepts code contributions. If you want to contribute, the code can be found in our
    <a href="https://github.com/bioartbot">code repository</a>. If you want to learn or practice your coding, we are happy to provide guidance and mentorship.
</p>

<h4>Contact</h4>
<ul>
<li>For questions, feedback, or just to say Hi, email us at <a href="mailto:contact@bioartbot.org">contact@bioartbot.org</a></li>
<li>For general updates, join our <a href="https://groups.google.com/forum/#!forum/bioartbot/join">community mailing list</a></li>
<li>If you are a community science lab, library, university, or other non-profit serving a community and are interested in launching a similar program, we would love to support you! Send us an email at <a href="mailto:contact@bioartbot.org">contact@bioartbot.org</a></li>
</ul>