<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<a class="navbar-brand" href="/">
		<img
			src="/static/img/bab_banner_left_small.png"
			alt="BioArtBot" />
	</a>
	<button
		class="navbar-toggler ml-auto"
		type="button"
		data-toggle="collapse"
		data-target="#navbarSupportedContent"
		aria-controls="navbarSupportedContent"
		aria-expanded="false"
		aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav align-items-center">
			<li class="nav-item ml-md-3{{ home_tag }}">
				<a class="nav-link" href="/">
					Home
				</a>
			</li>
			<li class="nav-item ml-md-3{{ about_tag }}">
				<a class="nav-link" rel="noopener"
					href="/about">
					About
				</a>
			</li>
			<li class="nav-item ml-md-3">
				<a class="nav-link" rel="noopener"
					href="http://blog.bioartbot.org/howto/">
					How To
				</a>
			</li>
		</ul>
		<ul class="navbar-nav align-items-center ml-auto flex-row justify-content-center">
			<li class="nav-item ml-md-3">
				<a class="nav-link p-2" href="https://github.com/bioartbot"
						  target="_blank" rel="noopener">
					<i class="fab fa-github-alt fa-lg"></i>
				</a>
			</li>
			<li class="nav-item ml-md-3">
				<a class="nav-link p-2"
					href="https://www.youtube.com/channel/UCRUJB_S3yMINT7hvwFord6Q"
					target="_blank" rel="noopener">
					<i class="fab fa-youtube fa-lg"></i>
				</a>
			</li>
		</ul>
	</div>
</nav>
